*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}
html, body {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    background: #cdc9c9d2;
    }

    h1 { 
      text-align: center;
      margin-top: 30px;
      text-decoration:underline;
      color:#262526;
      margin-bottom: 60px;
    }
  h1:hover {
      color: #D92332;
      cursor: pointer;
    }
  

nav {      
    display:flex;
    justify-content: center;
    background: #D92332;
    padding: 10px;
    border-radius: 20px;
    margin-top: 100px;
} 
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.container {
  margin-bottom: 20px;
}      
.pagination li {
    margin: 0 1px;
} 
span {
    text-decoration-line: underline;
    color: #f2f2f2;
    margin-left: 15px;
    margin-right: 15px;
    font-size: x-small;
}



.card-container {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 120px;
  }
  .card {
    width: 300px;
    height: auto;
    position:relative;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #D92332;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 15px 15px 10px #f2f2f2;
  }

  .card {
    padding: 10px;
  }

  .card .card-image img {
    height: 150px;
    width: 200px;
    border: 1px solid #262526;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .card .card-title {  
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 2px 0px 2px #D92332;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .card-text h2 {
    font-size: medium;
    margin-bottom: 15px;
  }
  
  footer {
    width: auto;
    height: 200px;
}